#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	$(MAKE) PYTHON=python2.7 DESTDIR=$$(pwd)/debian/git-hub prefix=/usr

override_dh_auto_install:
	$(MAKE) PYTHON=python2.7 DESTDIR=$$(pwd)/debian/git-hub prefix=/usr install

